<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>50077944557-b4dhufh1c6dof24e6gu06fd29j7sps43.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.50077944557-b4dhufh1c6dof24e6gu06fd29j7sps43</string>
    <key>API_KEY</key>
    <string>AIzaSyDhTxBC6EoLLR07gteYtI8LYCugtLXz3Ws</string>
    <key>GCM_SENDER_ID</key>
    <string>50077944557</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.ios.WeirdStreet</string>
    <key>PROJECT_ID</key>
    <string>weirdstreet-784d9</string>
    <key>STORAGE_BUCKET</key>
    <string>weirdstreet-784d9.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true/>
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    <key>IS_APPINVITE_ENABLED</key>
    <false/>
    <key>IS_GCM_ENABLED</key>
    <true/>
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    <key>GOOGLE_APP_ID</key>
    <string>1:50077944557:ios:87ab91e8f5ad45f2</string>
    <key>DATABASE_URL</key>
    <string>https://weirdstreet-784d9.firebaseio.com</string>
  </dict>
</plist>

